@media screen and (max-width: 767px) {
header {
width: 100%;
height: 75px;
background-color: rgb(150, 229, 147);
box-sizing: border-box;
border: 1px solid black;
line-height: 75px;
}

#one {
    width: 100%;
    height: 150px;
    background-color: rgb(196, 36, 36);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 150px;
}

.twoThree {
    width: 100%;
    height: 125px;
    background-color: rgb(99, 100, 182);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 125px;
}

#box1 {
    width: 50%;
    height: 250px;
    background-color: rgb(97, 65, 65);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 250px;
    float: left;
}

#box2 {
    width: 50%;
    height: 250px;
    background-color: rgb(93, 182, 185);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 250px;
    float: left;
}

#box3 {
    width: 50%;
    height: 250px;
    background-color: rgb(128, 128, 128);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 250px;
    float: left;
}

#box4 {
    width: 50%;
    height: 250px;
    background-color: rgb(55, 100, 83);
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 250px;
    float: left;
}

.foot1 {
width: 100%;
height: 80px;
background-color: rgb(243, 223, 223);
box-sizing: border-box;
border: 1px solid black;
clear: both;
line-height: 80px;
}
}

